header{
    background-color: #021569;
    color: #fff;
}
h2
{
    float: left;
}

h1{
    padding-left: 15px;
    margin: 0;
}

header ul{
    text-decoration: none;
    color: floralwhite;
    float: right;
}
.khusus-home{
    line-height: 35px;
    margin-bottom: 20px;
    width: 1250px;
}
li{
    list-style: none;
    text-align: center
}
.hai
{
    background-image: url("../bambank.jpg");
    font-style: inherit;
    color:rgb(139, 136, 136);
    height: 500px;
    background-size:cover;    
    margin: 0;
}
.lokasi
{
    font-size: 25px;
    color: navy;
   padding: 25px;
   float: left;
}
.contents
{
    background-color: rgba(248, 252, 230, 0.719);
 
}
.section-title
{
    font-family: cursive;
    background-color: rgb(169, 196, 164);
    font-size: 20px;
    text-align: center;
}

.tabel{
    font-family: Verdana;
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 20px;
}

.me{
    height: px;
    width: 310px;
    float: right;
    padding: 25px;
}

span
{
 color: rgb(147, 148, 153);
}
.warna
{
    color: rgb(81, 129, 113);
    text-align: center;
    font-weight: bold;
}



.konten
{
    background-color: rgba(230, 232, 233, 0.616);
}


span{

    color: navy;
}
.nama
{
    color: teal;
    font-size: 80px;
    float: left;
    margin-left: 0;
    word-spacing: 5px;
    text-align: center;
}

.kanan
{
    padding: 20px;
    font-size: 30px;
    font-family: Calibri;
}
.home
{
    text-align: center;
    line-height: 50px;
    padding: 50px;
}
.khusus
{
    text-align: center;
}

.minggir{
    padding: 25px;
}
.hobi
{
    float: left;
    margin-right: 40px;
}
.foto
{
  
    height:150px;
    width: 150px;
}

.sosmed
{
    height:75px;
    width:75px;
}
